build/
*.pbf
graft/
.gitignore
rsync_copy.sh
NAVMAP/
ROUTE/
water-polygons-split-*/
water-polygons-split-4326.zip
tools/test_astar
tools/test_astar.exe
__pycache__
NAVMAP2
NAVMAP2
NAVMAP2
NAVMAP_AND
NAVMAP_AND
NAVMAP_CAT
build.host/
